@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {
  /* A4 page */
  @page {
    size: A4;
    margin: 15mm;
  }

  body {
    background-color: white !important;
  }

  /* hide non-print UI */
  .print\:hidden {
    display: none !important;
  }

  /* show print area */
  .print\:block {
    display: block !important;
  }

  /* hide browser chrome elements */
  header, footer, nav {
    display: none !important;
  }
}