@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@media print {
  /* Atur kertas ke format A4 sesuai syarat soal  */
  @page {
    size: A4;
    margin: 15mm;
  }

  body {
    background-color: white !important;
  }

  /* Sembunyikan elemen dashboard Next.js atau UI yang mengganggu */
  .print\:hidden {
    display: none !important;
  }

  /* Pastikan area print tampil penuh */
  .print\:block {
    display: block !important;
  }

  /* Hilangkan URL/Header default browser agar rapi */
  header, footer, nav {
    display: none !important;
  }
}